doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
        link(rel="stylesheet", href="/css/style.css")
    body 
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a.active(href="/") Shop Index
                    li.main-header__item
                        a(href="/admin/add-product") Add new product
        main
            h1 Product Overview 
            .grid
                if items.length > 0
                    each item in items
                        article.card.product-item
                            header.card__header
                                h1.product__title #{item.product__name}
                            .card__image
                                - url = "https://m.media-amazon.com/images/I/51qCdmrVZNL._SY344_BO1,204,203,200_QL70_ML2_.jpg"
                                img(src=url alt="This is the alt text")
                            .card__content
                                h2.product__price #{item.productd__price}
                                p.product__description #{item.product__description}
                            .card__actions
                                button.btn Add to cart
                else 
                    p No products found.
